@import '@sass/_main'

.block
	position: relative
	width: 500px
	height: 180px

.wrap
	position: absolute
	top: 5px
	left: 50px
	width: 70px
	height: 70px

.icon
	opacity: 15%

.title
	width: auto !important
	height: auto !important
	border: none !important
	padding-top: 30px
	padding-left: 85px
	font-size: 22px !important
	line-height: initial !important
	text-align: initial !important
	letter-spacing: 0.19em !important
	display: block !important

.description
	margin-top: 25px
	margin-left: 85px
	font-weight: 300
	font-size: 14px
