@use '@sass/main' as *;

.block {
	position: relative;
	width: px-to-rem(450);
	height: px-to-rem(180);
	padding-left: px-to-rem(25);
}

.wrap {
	position: absolute;
	top: px-to-rem(5);
	left: 0;
	width: px-to-rem(70);
	aspect-ratio: 1 / 1;
}

.icon {
	opacity: .15;
}

@media only screen and (px-to-rem(1600) > width) {
	.wrap {
		width: rubber-size(1600, 70, 1366, 60);
	}

	.block {
		width: rubber-size(1600, 450, 1366, 418);
	}
}

@media only screen and (px-to-rem(1366) > width) {
	;
}

@media only screen and (px-to-rem(1280) > width) {
	;
}

@media only screen and (px-to-rem(1080) > width) {
	;
}

@media only screen and (px-to-rem(900) > width) {
	;
}

@media only screen and (px-to-rem(768) > width) {
	;
}

@media only screen and (px-to-rem(576) > width) {
	;
}

@media only screen and (px-to-rem(480) > width) {
	;
}
