@use '@sass/main' as *;

.label {
	@extend %welcome;

	margin-bottom: px-to-rem(10);
	font-size: px-to-rem(60);
}

@media only screen and (px-to-rem(1600) > width >= px-to-rem(1366)) {
	.label {
		font-size: rubber-size(1600, 60, 1366, 50);
	}
}

@media only screen and (px-to-rem(1366) > width >= px-to-rem(1280)) {
	.label {
		font-size: rubber-size(1366, 50, 1280, 45);
	}
}

@media only screen and (px-to-rem(1280) > width >= px-to-rem(1080)) {
	.label {
		font-size: rubber-size(1280, 45, 1080, 40);
	}
}

@media only screen and (px-to-rem(1080) > width >= px-to-rem(900)) {
	.label {
		font-size: px-to-rem(40);
	}
}