@use '@sass/main' as *;

.label {
	@extend %welcome;

	margin-bottom: px-to-rem(10);
	font-size: px-to-rem(60);
}

@media only screen and (px-to-rem(1600) > width >= px-to-rem(1366)) {
	.label {
		font-size: rubber-size(1600, 60, 1366, 55);
	}
}

@media only screen and (px-to-rem(1366) > width >= px-to-rem(1280)) {
	.label {
		font-size: rubber-size(1366, 55, 1280, 50);
	}
}

@media only screen and (px-to-rem(1280) > width >= px-to-rem(1080)) {
	.label {
		font-size: rubber-size(1280, 50, 1080, 43);
	}
}

@media only screen and (px-to-rem(1080) > width >= px-to-rem(900)) {
	.label {
		font-size: rubber-size(1080, 43, 900, 37);
		margin-bottom: rubber-size(1080, 10, 900, 5);
	}
}

@media only screen and (px-to-rem(900) > width >= px-to-rem(768)) {
	.label {
		margin-bottom: px-to-rem(5);
		font-family: $font-adventpro;
		font-weight: 400;
		font-size: 25px;
		text-align: center;
		color: $color-full-white;
	}
}