@import '@sass/_main'

.skill
	width: 250px
	display: flex
	flex-direction: column
	align-items: center

.wrap
	width: max(150px, 100px)
	height: 100px

.name
	height: 50px
	margin-top: 20px
	text-transform: uppercase
	text-align: center
	display: flex
	justify-content: center
	align-items: center
