@use '@sass/main' as *;

.button {
	@extend %button;

	width: px-to-rem(61);
	height: px-to-rem(56);
	margin-right: px-to-rem(30);
	background-color: $color-lighter-gray;
	box-shadow: 0 px-to-rem(4) px-to-rem(4) 0 rgb(0 0 0 / 25%);
	display: grid;
	place-content: center;
	transition: background-color $transition-animation;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		background-color: $color-dark-gray;
	}

	&:active {
		background-color: $color-gray;
	}
}

.wrap {
	width: px-to-rem(35);
	aspect-ratio: 1 / 1;
}

@media only screen and (hover: none) {
	.button:hover {
		background-color: $color-lighter-gray;
	}
}

@media only screen and (px-to-rem(1600) > width >= px-to-rem(1366)) {
	.button {
		width: rubber-size(1600, 61, 1366, 56);
		height: rubber-size(1600, 56, 1366, 51);
		margin-right: rubber-size(1600, 30, 1366, 25);
	}

	.wrap {
		width: rubber-size(1600, 35, 1366, 32);
	}
}

@media only screen and (px-to-rem(1366) > width >= px-to-rem(1280)) {
	.button {
		width: rubber-size(1366, 56, 1280, 53);
		height: rubber-size(1366, 51, 1280, 48);
		margin-right: rubber-size(1366, 25, 1280, 20);
	}

	.wrap {
		width: rubber-size(1366, 32, 1280, 30);
	}
}

@media only screen and (px-to-rem(1280) > width >= px-to-rem(1080)) {
	.button {
		width: rubber-size(1280, 53, 1080, 48);
		height: rubber-size(1280, 48, 1080, 43);
		margin-right: rubber-size(1280, 20, 1080, 15);
	}

	.wrap {
		width: rubber-size(1280, 30, 1080, 27);
	}
}