@use '@sass/main' as *;

.representation {
	position: relative;
	width: 100%;
	height: px-to-rem(1022);
	background-color: $color-light-gray;
}

@media only screen and (px-to-rem(1920) > width >= px-to-rem(1600)) {
	.representation {
		height: rubber-size(1920, 1022, 1600, 900);
	}
}

@media only screen and (px-to-rem(1600) > width >= px-to-rem(1366)) {
	.representation {
		height: rubber-size(1600, 900, 1366, 750);
	}
}

@media only screen and (px-to-rem(1366) > width >= px-to-rem(1280)) {
	.representation {
		height: px-to-rem(750);
	}
}

@media only screen and (px-to-rem(1280) > width >= px-to-rem(1080)) {
	.representation {
		height: rubber-size(1280, 750, 1080, 650);
	}
}

@media only screen and (px-to-rem(1080) > width >= px-to-rem(900)) {
	.representation {
		height: rubber-size(1080, 650, 900, 550);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.representation {
		height: calc(100dvh - 57px);
		margin-top: 57px;
	}
}