@use '@sass/main' as *;

.image {
	-o-object-fit: cover !important;
	object-fit: cover !important;
	transition: opacity $transition-animation;

	&-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $color-full-black;
		overflow: hidden;
		z-index: 1;
	}
}

.project {
	position: relative;
	aspect-ratio: 8 / 5;

	&:hover .image {
		opacity: .2;
	}

	&:hover .info {
		opacity: 1;
	}
}