@use '@sass/main' as *;

.image {
	-o-object-fit: cover !important;
	object-fit: cover !important;
	transition: opacity $transition-animation;

	&-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $color-full-black;
		overflow: hidden;
		z-index: 1;
	}
}

.project {
	position: relative;
	aspect-ratio: 8 / 5;
}

@media only screen and (hover: hover) {
	.project:hover {
		& .image {
			opacity: .2;
		}

		& .info {
			opacity: 1;
		}
	}
}

@media only screen and (hover: none) {
	.project {
		& .image {
			pointer-events: none;
		}

		& .info {
			pointer-events: none;
		}

		&:focus-within {
			& .image {
				opacity: .2;
				pointer-events: all;
			}

			& .info {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}