@use '@sass/main' as *;

%hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gallery {
	position: fixed;
	width: 100%;
	height: calc(100% - px-to-rem(65));
	border: none;
	outline: none;
	background-color: rgba($color-full-black, 50%);
	opacity: 0;
	visibility: hidden;
	transition: opacity $transition-animation, .3s visibility;
	display: block;
	z-index: 9998;
}

.gallery[open] {
	opacity: 1;
	visibility: visible;
}

.button {
	@extend %button;

	position: absolute;
	top: px-to-rem(20);
	right: px-to-rem(20);
	width: px-to-rem(30);
	aspect-ratio: 1 / 1;
	transition: opacity $transition-animation, .3s visibility;
	z-index: 10;

	&.hidden {
		@extend %hidden;
	}
}

.image {
	position: relative;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	display: block;
	pointer-events: none;
	z-index: 2;

	&-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		cursor: -webkit-grab;
		cursor: grab;
		z-index: 1;

		&:active {
			cursor: -webkit-grabbing;
			cursor: grabbing;
		}
	}

	&-wrap {
		position: absolute;
		inset: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.gradient {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: px-to-rem(200);
	background-image: linear-gradient(transparent, rgba($color-full-black, .75));
	transition: opacity $transition-animation, .3s visibility;
	z-index: 2;
	pointer-events: none;

	&.hidden {
		@extend %hidden;
	}
}

.management {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 4;

	&-buttons {
		position: absolute;
		bottom: px-to-rem(30);
		transition: opacity $transition-animation, .3s visibility;
		display: flex;
		justify-content: center;

		&.hidden {
			@extend %hidden;
		}
	}

	&-button {
		@extend %button;

		position: absolute;
		width: px-to-rem(40);
		aspect-ratio: 1 / 1;
		transform: translateY(-25%);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		z-index: 10;

		&.left {
			left: px-to-rem(-50);
		}

		&.right {
			right: px-to-rem(-50);
		}
	}

	&-count {
		-webkit-text-stroke: px-to-rem(0.1) $color-full-black;
		color: $color-full-white;
		display: grid;
		place-content: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		z-index: 10;
	}

	&-description {
		position: absolute;
		bottom: px-to-rem(75);
		max-width: px-to-rem(1000);
		padding: px-to-rem(20);
		background-color: rgba($color-full-black, .5);
		transition: opacity $transition-animation, .3s visibility;
		color: $color-full-white;

		&.hidden {
			@extend %hidden;
		}
	}
}

.test-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&-sx {
		position: absolute;
		left: 0;
		height: 100%;
		width: px-to-rem(1);
		background-color: #f08;
	}

	&-ex {
		position: absolute;
		left: 0;
		height: 100%;
		width: px-to-rem(1);
		background-color: #08f
	}

	&-sy {
		position: absolute;
		top: 0;
		width: 100%;
		height: px-to-rem(1);
		background-color: #8f8;
	}

	&-ey {
		position: absolute;
		top: 0;
		width: 100%;
		height: px-to-rem(1);
		background-color: #f80;
	}
}

@media only screen and (px-to-rem(1366) > width) {
	.gallery {
		height: calc(100% - rubber-size(1366, 65, 1280, 60));
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.gallery {
		height: calc(100% - rubber-size(1280, 60, 1080, 55));
	}
}

@media only screen and (px-to-rem(576) > width) {
	.management-description {
		padding: rubber-size(576, 20, 480, 15);
	}
}
