@use '@sass/main' as *;

.button {
	@extend %button;
	
	width: px-to-rem(30);
	aspect-ratio: 1 / 1;
	margin-right: px-to-rem(30);
}

%line {
	position: absolute;
	top: 0;
	left: 0;
	width: px-to-rem(30);
	height: px-to-rem(2);
	background-color: $color-full-white;
	border-radius: px-to-rem(5);
	transition: top $transition-animation .3s, 
				transform $transition-animation;
}

%active {
	top: 0;
	transition: top $transition-animation, 
				transform $transition-animation .3s
}

.line {
	@extend %line;
	
	position: relative;
	transition: background-color 0s ease-in-out .3s;

	&::before {
		@extend %line;
		
		content: '';
		top: px-to-rem(-7);
	}

	&::after {
		@extend %line;
		
		content: '';
		top: px-to-rem(7);
	}

	&.active {
		background-color: $color-transparent;

		&::before {
			@extend %active;

			transform: rotate(45deg);
		}

		&::after {
			@extend %active;

			transform: rotate(-45deg);
		}
	}
}

@media only screen and (width >= px-to-rem(768)) {
	.button {
		display: none;
	}
	
}