@use '@sass/_main' as *

.logo
	width: 50px
	aspect-ratio: 1 / 1
	margin-right: auto

	&-link
		display: block
		width: 100%
		height: 100%

	&-img
		width: 100%
		height: 100%
		object-fit: cover
		transition: filter $transition-animation

		&.fixed
			filter: invert(100%)

			&.rest
				transition: none
