@use '@sass/main' as *;

.logo {
	width: px-to-rem(50);
	aspect-ratio: 1 / 1;
	margin-right: auto;

	&-link {
		display: block;
		width: 100%;
		height: 100%;
	}

	&-img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		transition: -webkit-filter $transition-animation;
		transition: filter $transition-animation;
		transition: filter $transition-animation, 
					-webkit-filter $transition-animation;

		&.fixed {
			-webkit-filter: invert(100%);
			filter: invert(100%);

			&.rest {
				transition: none;
			}
		}
	}
}