@use '@sass/main' as *;

.heading {
	$ratio: px-to-rem(30);

	padding: $ratio ($ratio * 2);
	border: px-to-rem(8) solid $color-full-black;
	font-family: $font-montserrat;
	font-weight: 700;
	font-size: px-to-rem(30);
	line-height: 128%;
	letter-spacing: 0.36em;
	text-transform: uppercase;
	text-align: center;
	color: $color-full-black;
	display: grid;
	place-content: center;
}

@media only screen and (px-to-rem(1600) > width) {
	.heading {
		$ratio: rubber-size(1600, 30, 1366, 25);
		$border-size: rubber-size(1600, 8, 1366, 6);

		padding: $ratio calc($ratio * 2);
		border: $border-size solid $color-full-black;
		font-size: $ratio;
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.heading {
		$ratio: rubber-size(1080, 25, 900, 23);
		$border-size: rubber-size(1080, 6, 900, 5);

		padding: $ratio calc($ratio * 2);
		border: $border-size solid $color-full-black;
		font-size: $ratio;
	}
}

@media only screen and (px-to-rem(900) > width) {
	.heading {
		$ratio: rubber-size(900, 23, 768, 20);
		$border-size: rubber-size(900, 5, 768, 4);

		padding: $ratio calc($ratio * 2);
		border: $border-size solid $color-full-black;
		font-size: $ratio;
	}
}

@media only screen and (px-to-rem(768) > width) {
	.heading {
		$ratio: rubber-size(768, 20, 576, 17);

		padding: $ratio calc($ratio * 2);
		font-size: $ratio;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.heading {
		$ratio: rubber-size(480, 17, 320, 14);
		$border-size: rubber-size(480, 4, 320, 3);

		padding: $ratio calc($ratio * 2);
		border: $border-size solid $color-full-black;
		font-size: $ratio;
	}
}
