@use '@sass/main' as *;

.heading {
	$ratio: 1em;

	padding: $ratio ($ratio * 3);
	border: px-to-rem(8) solid $color-full-black;
	font-family: $font-montserrat;
	font-weight: 700;
	font-size: px-to-rem(30);
	line-height: 128%;
	letter-spacing: 0.36em;
	text-transform: uppercase;
	text-align: center;
	color: $color-full-black;
	display: grid;
	place-content: center;
}

@media only screen and (px-to-rem(1600) > width) {
	.heading {
		$border-size: rubber-size(1600, 8, 1366, 6);

		border: $border-size solid $color-full-black;
		font-size: rubber-size(1600, 30, 1366, 25);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.heading {
		$border-size: rubber-size(1080, 6, 900, 5);

		border: $border-size solid $color-full-black;
		font-size: rubber-size(1080, 25, 900, 23);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.heading {
		$border-size: rubber-size(900, 5, 768, 4);

		border: $border-size solid $color-full-black;
		font-size: rubber-size(900, 23, 768, 20);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.heading {
		font-size: rubber-size(768, 20, 576, 16);
	}
}

@media only screen and (px-to-rem(576) > width) {
	.heading {
		$ratio: rubber-size(576, 1, 480, 0.75, "em", 16);

		padding: $ratio calc($ratio * 3);
	}
}

@media only screen and (px-to-rem(480) > width) {
	.heading {
		$ratio: rubber-size(480, 0.75, 320, 0.5, "em", 12);
		$border-size: rubber-size(480, 4, 320, 3);

		padding: $ratio calc($ratio * 3);
		border: $border-size solid $color-full-black;
		font-size: rubber-size(480, 16, 320, 12);
	}
}
