@use '@sass/main' as *;

.buttons {
	margin-top: px-to-rem(60);
	margin-bottom: px-to-rem(70);
}

@media only screen and (px-to-rem(1600) > width) {
	.buttons {
		margin-top: rubber-size(1600, 60, 1366, 50);
		margin-bottom: rubber-size(1600, 70, 1366, 55);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.buttons {
		margin-top: rubber-size(900, 50, 768, 35);
		margin-bottom: rubber-size(900, 55, 768, 45);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.buttons {
		margin-top: rubber-size(768, 35, 576, 30);
		margin-bottom: rubber-size(768, 45, 576, 35);
	}
}

@media only screen and (px-to-rem(576) > width) {
	.buttons {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.buttons {
		;
	}
}
