@import '@sass/_main'

.portfolio
	width: 100%

.image
	opacity: 70%

	&-wrap
		position: absolute
		width: 100%
		height: 320px
		background-color: $color-full-black
		z-index: -1

	&-heading
		position: relative
		width: 100%
		height: 320px
		display: flex
		justify-content: center
		align-items: center

.heading
	border: 8px solid $color-full-white !important
	color: $color-full-white !important
