@use '@sass/_main' as *

.main
	flex: $flex-main
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.projects
	width: 1000px
	margin-block: 50px
	background-color: $color-light-black
	color: $color-full-white

.project
	width: 100%
	height: 200px
	display: flex

	&-img
		object-fit: cover !important

		&-wrap
			width: 350px
			height: 200px

.info
	width: calc(100% - 350px)
	padding-inline: 25px
	display: flex
	justify-content: space-between

.details
	padding-block: 20px
	display: flex
	flex-direction: column

.buttons
	display: flex
	flex-direction: column
	justify-content: center

.button
	@extend %btn-small
	width: 150px
	height: 40px
	margin-top: 25px
	border-block: 2px solid $color-full-white
	font-size: 14px

	&:first-child
		margin-top: 0px

.title
	width: unset !important
	height: unset !important
	border: none !important
	font-size: 15px !important
	text-align: unset !important
	color: $color-full-white !important
	display: inline-block !important

.description
	padding-right: 25px
	margin-top: 15px
	overflow: hidden
	text-overflow: ellipsis
	color: $color-full-white !important
	display: -webkit-box
	-webkit-box-orient: vertical
	-webkit-line-clamp: 6

.no-projects
	width: 100%
	height: 200px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

	.title
		@extend .title
		font-size: 20px !important
