@use '@sass/main' as *;

.main {
	flex: $flex-main;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects {
	width: px-to-rem(1000);
	margin-block: px-to-rem(50);
	background-color: $color-light-black;
	color: $color-full-white;
}

.project {
	width: 100%;
	height: px-to-rem(200);
	display: flex;

	&-img {
		-o-object-fit: cover !important;
		object-fit: cover !important;

		&-wrap {
			height: 100%;
			aspect-ratio: 7 / 4;
		}
	}
}

.info {
	margin-inline: px-to-rem(25);
	display: flex;
	justify-content: space-between;
}

.details {
	margin-block: px-to-rem(20);
	display: flex;
	flex-direction: column;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	@extend %btn-small;

	margin-top: px-to-rem(25);
	border-block: px-to-rem(2) solid $color-full-white;
	font-size: px-to-rem(14);

	&:first-child {
		margin-top: 0;
	}
}

%title {
	width: unset !important;
	height: unset !important;
	border: none !important;
	font-size: px-to-rem(15) !important;
	text-align: unset !important;
	color: $color-full-white !important;
	display: inline-block !important;
}

.title {
	@extend %title;
}

.description {
	margin-right: px-to-rem(25);
	margin-top: px-to-rem(15);
	overflow: hidden;
	text-overflow: ellipsis;
	color: $color-full-white !important;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
}

.no-projects {
	width: 100%;
	height: px-to-rem(200);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&.title {
		@extend %title;

		font-size: px-to-rem(20) !important;
	}
}

/* // TODO Не забыть адаптировать для класса .no-projects */

@media only screen and (px-to-rem(1280) > width) {
	.projects {
		width: rubber-size(1280, 1000, 1080, 900);
	}

	.project {
		height: rubber-size(1280, 200, 1080, 175);
	}

	.info {
		margin-inline: rubber-size(1280, 25, 1080, 20);
	}

	.details {
		margin-block: rubber-size(1280, 20, 1080, 16);
	}

	.button {
		font-size: rubber-size(1280, 14, 1080, 13);
		margin-top: rubber-size(1280, 25, 1080, 20);
	}

	.description {
		margin-top: rubber-size(1280, 15, 1080, 10);
		margin-right: rubber-size(1280, 25, 1080, 20);
	}

	.no-projects {
		&.title {
			;
		}
	}
}

@media only screen and (px-to-rem(900) > width) {
	.projects {
		width: 100%;
	}

	.project {
		height: rubber-size(900, 175, 768, 150);
	}

	.info {
		margin-inline: rubber-size(900, 20, 768, 15);
	}

	.details {
		margin-block: rubber-size(900, 16, 768, 10);
	}

	.button {
		margin-top: rubber-size(900, 20, 768, 15);
		font-size: rubber-size(900, 13, 768, 12);
	}

	%title {
		font-size: rubber-size(900, 15, 768, 14) !important;
	}

	.description {
		margin-top: rubber-size(900, 10, 768, 5);
		margin-right: rubber-size(900, 20, 768, 15)
	}

	.no-projects {
		&.title {
			;
		}
	}
}

@media only screen and (px-to-rem(768) > width) {
	.projects {
		;
	}

	.project {
		;
	}

	.info {
		;
	}

	.details {
		;
	}

	.button {
		;
	}

	%title {
		;
	}

	.description {
		;
	}

	.no-projects {
		&.title {
			;
		}
	}
}

@media only screen and (px-to-rem(576) > width) {
	.projects {
		;
	}

	.project {
		;
	}

	.info {
		;
	}

	.details {
		;
	}

	.button {
		;
	}

	%title {
		;
	}

	.description {
		;
	}

	.no-projects {
		&.title {
			;
		}
	}
}

@media only screen and (px-to-rem(480) > width) {
	.projects {
		;
	}

	.project {
		;
	}

	.info {
		;
	}

	.details {
		;
	}

	.button {
		;
	}

	%title {
		;
	}

	.description {
		;
	}

	.no-projects {
		&.title {
			;
		}
	}
}
