@use '@sass/main' as *;

.main {
	margin-top: px-to-rem(65);
	flex: $flex-main;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&.without-margin {
		margin-top: 0;
	}
}