@use '@sass/main' as *;

.main {
	margin-top: px-to-rem(65);
	flex: $flex-main;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&.without-margin {
		margin-top: 0;
	}
}

@media only screen and (px-to-rem(1366) > width) {
	.main {
		margin-top: rubber-size(1366, 65, 1280, 60);
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.main {
		margin-top: rubber-size(1280, 60, 1080, 55);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.main {
		margin-top: px-to-rem(57);
	}
}