@use '@sass/main' as *;

.skills {
	padding-top: px-to-rem(75);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

@media only screen and (px-to-rem(1080) > width) {
	.skills {
		padding-top: rubber-size(1080, 75, 900, 60);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.skills {
		padding-top: rubber-size(900, 60, 768, 50);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.skills {
		;
	}
}

@media only screen and (px-to-rem(576) > width) {
	.skills {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.skills {
		;
	}
}
