@use '@sass/main' as *;

.resume {
	width: 100%;
}

.gradient {
	width: 100%;
	background: $color-transition-white radial-gradient(50% 50% at 50% 50%, rgba($color-gradient-main-begin, 0%) 0%, rgba($color-gradient-main-end, 16%) 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-top: px-to-rem(75);
}

.separator {
	margin-top: px-to-rem(25);
}

$height-resume: px-to-rem(500);

.wrap {
	width: px-to-rem(610);
	height: $height-resume;
	margin-top: px-to-rem(75);
	overflow: hidden;
}

.image {
	$mask:	linear-gradient(to bottom, rgba($color-light-gray, 1) 0, 
			rgba($color-light-gray, 0) $height-resume);

	height: auto !important;
	-webkit-mask: $mask;
	mask: $mask;
}

@media only screen and (px-to-rem(1600) > width) {
	$height-rubber: rubber-size(1600, 500, 1366, 450);
	$mask:	linear-gradient(to bottom, rgba($color-light-gray, 1) 0, 
			rgba($color-light-gray, 0) $height-rubber);

	.wrap {
		width: rubber-size(1600, 610, 1366, 550);
		height: $height-rubber;
	}

	.image {
		-webkit-mask: $mask;
		mask: $mask;
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.wrap {
		margin-top: rubber-size(1280, 75, 1080, 70);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	$height-rubber: rubber-size(1080, 450, 900, 400);
	$mask:	linear-gradient(to bottom, rgba($color-light-gray, 1) 0, 
			rgba($color-light-gray, 0) $height-rubber);
	
	.title {
		margin-top: rubber-size(1080, 75, 900, 60);
	}

	.wrap {
		width: rubber-size(1080, 550, 900, 475);
		height: $height-rubber;
		margin-top: rubber-size(1080, 70, 900, 60);
	}

	.image {
		-webkit-mask: $mask;
		mask: $mask;
	}
}

@media only screen and (px-to-rem(900) > width) {
	.title {
		margin-top: rubber-size(900, 60, 768, 50);
	}

	.wrap {
		margin-top: rubber-size(900, 60, 768, 50);
	}
}

@media only screen and (px-to-rem(768) > width) {
	$height-rubber: rubber-size(768, 400, 576, 310);
	$mask:	linear-gradient(to bottom, rgba($color-light-gray, 1) 0, 
			rgba($color-light-gray, 0) $height-rubber);
	
	.title {
		margin-top: rubber-size(768, 50, 576, 40);
	}

	.separator {
		margin-top: rubber-size(768, 25, 576, 20);
	}

	.wrap {
		width: rubber-size(768, 475, 576, 375);
		height: $height-rubber;
		margin-top: rubber-size(768, 50, 576, 40);
	}

	.image {
		-webkit-mask: $mask;
		mask: $mask;
	}
}

@media only screen and (px-to-rem(576) > width) {
	$height-rubber: rubber-size(576, 310, 480, 265);
	$mask:	linear-gradient(to bottom, rgba($color-light-gray, 1) 0, 
			rgba($color-light-gray, 0) $height-rubber);

	.wrap {
		width: rubber-size(576, 375, 480, 325);
		height: $height-rubber;
	}

	.image {
		-webkit-mask: $mask;
		mask: $mask;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.title {
		;
	}

	.separator {
		;
	}

	.wrap {
		;
	}

	.image {
		;
	}
}
