@use '@sass/main' as *;

.label {
	font-family: $font-montserrat;
	font-weight: 400;
	margin-top: px-to-rem(45);
	font-size: px-to-rem(18);
	letter-spacing: normal;
	color: $color-full-white;
}

.copyright {
	font-family: $font-nunito;
	font-weight: 700;
}

@media only screen and (px-to-rem(1600) > width) {
	.label {
		margin-top: rubber-size(1600, 45, 1366, 40);
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.label {
		margin-top: rubber-size(1280, 40, 1080, 38);
		font-size: rubber-size(1280, 18, 1080, 17);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.label {
		;
	}
}

@media only screen and (px-to-rem(900) > width) {
	.label {
		;
	}
}

@media only screen and (px-to-rem(768) > width) {
	.label {
		;
	}
}

@media only screen and (px-to-rem(576) > width) {
	.label {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.label {
		;
	}
}
