@use '@sass/main' as *;

.menu {
	&-item {
		display: block;
	}

	&-list {
		width: 100%;
		height: 100%;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

@media only screen and (px-to-rem(768) > width) {
	.menu {
		&-list {
			position: absolute;
			top: 0;
			height: px-to-rem(57);
			background-color: rgba($color-full-black, 40%);
			border-top: px-to-rem(1) solid $color-full-white;
			justify-content: space-evenly;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				border-top: px-to-rem(1) solid $color-full-white;
				transition: top $transition-animation;
			}
		}

		&-item {
			position: absolute;
			left: px-to-rem(-30);
			top: px-to-rem(46);
			width: 100vw;
			height: 0;
			overflow: hidden;
			transition: height $transition-animation;

			&.active {
				height: px-to-rem(57);

				& .menu-list::before {
					top: px-to-rem(55);
				}
			}
		}
	}
}

@media only screen and (px-to-rem(576) > width) {
	.menu {
		&-list {
			height: px-to-rem(228);
			flex-direction: column;
		}

		&-item {
			&.active {
				height: px-to-rem(228);

				& .menu-list::before {
					top: px-to-rem(226);
				}
			}
		}
	}
}