@import '@sass/_main'

.menu
	height: 100%
	list-style: none
	display: flex
	justify-content: flex-end
	align-items: center

	&-item
		height: 100%
		margin: 0px 50px
		display: flex
		justify-content: center
		align-items: center

		&:first-child
			margin-left: 0px

		&:last-child
			margin: 0px

.button
	@extend %button
	padding: 15px 30px
	background-color: $color-full-white
	border-radius: 5em
	font-weight: 700
	font-size: 15px
	color: $color-full-black

.link
	font-family: "Montserrat"
	font-weight: 700
	font-size: 17px
	text-align: center
	color: #ffffff
	text-decoration: none
