@import '@sass/_main'

.menu
	height: 100%
	list-style: none
	display: flex
	justify-content: flex-end
	align-items: center

	&-item
		height: 100%
		margin: 0px 50px
		display: flex
		justify-content: center
		align-items: center

		&:first-child
			margin-left: 0px

		&:last-child
			margin: 0px

.button
	padding: 15px 30px
	background-color: $color-full-white !important
	border-radius: 5em !important
	font-weight: 700
	font-size: 15px
	color: $color-full-black
