@use '@sass/main' as *;

.projects {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (width >= px-to-rem(2300)) {
	.projects {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (width >= px-to-rem(3000)) {
	.projects {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (width >= px-to-rem(3500)) {
	.projects {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (width >= px-to-rem(3840)) {
	.projects {
		max-width: px-to-rem(3840);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.projects {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (px-to-rem(900) > width) {
	.projects {
		;
	}
}

@media only screen and (px-to-rem(768) > width) {
	.projects {
		;
	}
}

@media only screen and (px-to-rem(576) > width) {
	.projects {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.projects {
		;
	}
}
