@import '@sass/_main'

@include imp-font($font-montserrat, ('SemiBold': 600))

%button
	border: none
	outline: none
	background-color: transparent
	font-family: $font-montserrat
	text-align: center
	text-transform: uppercase
	cursor: pointer

.social
	@extend %button
	width: 61px
	height: 56px
	background-color: $color-lighter-gray
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
	display: flex
	justify-content: center
	align-items: center

	&:last-child
		margin-right: 0px

.image
	width: 35px
	height: 35px

.small
	@extend %button
	width: 115px
	height: 25px
	border-left: 2px solid $color-full-white
	border-right: 2px solid $color-full-white
	font-weight: 600
	font-size: 12px
	letter-spacing: 0.1em
	color: $color-full-white

.big
	@extend %button
	width: 200px
	height: 45px
	border-left: 3px solid $color-full-black
	border-right: 3px solid $color-full-black
	font-weight: 700
	font-size: 16px
	color: $color-full-black
