@import '@sass/_main'

@include imp-font($font-montserrat, ('SemiBold': 600))

.social
	width: 61px
	height: 56px
	border: none
	outline: none
	background-color: $color-lighter-gray
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
	cursor: pointer
	display: flex
	justify-content: center
	align-items: center

	&:last-child
		margin-right: 0px

.image
	width: 35px
	height: 35px

.small
	width: 115px
	height: 25px
	background-color: transparent
	border: none
	outline: none
	border-left: 2px solid $color-full-white
	border-right: 2px solid $color-full-white
	font-family: $font-montserrat
	font-weight: 600
	font-size: 12px
	letter-spacing: 0.1em
	text-align: center
	text-transform: uppercase
	color: $color-full-white
	cursor: pointer
