@import './../../../assets/sass/_vars'

.menu
	&-button
		margin-left: 20px
		padding: 5px 15px
		border: 3px solid $color-light-navbutton-border-blue
		background-color: $color-light-navbutton-background-blue
		font-size: 16px
		font-weight: 550
		color: $color-light-navbutton-text-white
		cursor: pointer
		transition-property: background-color, color
		transition-duration: .15s
		transition-timing-function: ease

		&:hover
			background-color: $color-light-navbutton-background-white-hover
			color: $color-light-navbutton-text-blue-hover
		
		&:active
			background-color: $color-light-navbutton-background-blue-active