@import '@sass/_main'

.about
	padding-top: 75px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-start

.quote
	margin-top: 70px

.separator-wrap
	margin-top: 65px

.activity
	margin-top: 65px
