@import '@sass/_main'

@include imp-font($font-opensans, ('Regular': 400, 'Light': 300))

.about
	display: flex
	flex-direction: column
	align-items: center
	justify-content: start

.heading
	margin-top: 140px

.quote
	margin-top: 70px

.separator-wrap
	margin-top: 65px

.activity
	margin: 65px 0px
