@import '@sass/_main'

.menu
	&-item
		height: 100%
		margin: 0px 50px
		display: flex
		justify-content: center
		align-items: center

		&:first-child
			margin-left: 0px

		&:last-child
			margin: 0px

	&-link
		font-size: 17px
		text-align: center
		color: $color-full-white
		text-decoration: none
