@use '@sass/main' as *;

.block {
	position: relative;
	width: px-to-rem(450);
	height: px-to-rem(180);
	padding-left: px-to-rem(25);
}

.wrap {
	position: absolute;
	top: px-to-rem(5);
	left: 0;
	width: px-to-rem(70);
	aspect-ratio: 1 / 1;
}

.icon {
	opacity: .15;
}

@media only screen and (px-to-rem(1600) > width) {
	.wrap {
		width: rubber-size(1600, 70, 1366, 60);
	}

	.block {
		width: rubber-size(1600, 450, 1366, 418);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.wrap {
		width: rubber-size(1080, 60, 900, 55);
	}

	.block {
		width: rubber-size(1080, 418, 900, 382);
		height: rubber-size(1080, 180, 900, 150);
		padding-left: rubber-size(1080, 25, 900, 20);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.block {
		height: rubber-size(900, 150, 768, 130);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.block {
		width: rubber-size(768, 382, 576, 350);
	}

	.wrap {
		width: rubber-size(768, 55, 576, 50);
	}
}

@media only screen and (px-to-rem(576) > width) {
	;
}

@media only screen and (px-to-rem(480) > width) {
	;
}
