@use '@sass/main' as *;

.label {
	height: px-to-rem(50);
	margin-top: px-to-rem(20);
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}