@use '@sass/main' as *;

.project {
	width: 100%;
	background: $color-transition-white radial-gradient(50% 50% at 50% 50%, rgba($color-gradient-main-begin, 0%) 0%, rgba($color-gradient-main-end, 16%) 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: unset;

	&-name {
		margin-inline: auto;
	}
}

.details {
	width: px-to-rem(1000) !important;
	margin-top: px-to-rem(50);
	align-items: unset !important;
}

.img {
	aspect-ratio: 16 / 9;
	-o-object-fit: cover !important;
	object-fit: cover !important;

	&-wrap {
		width: 100%;
		margin-top: px-to-rem(50);
	}
}

.description {
	margin-top: px-to-rem(25);
}

.button {
	@extend %btn-big;

	margin-top: px-to-rem(25);
	align-self: center;
}

.separator {
	margin: px-to-rem(50) auto 0;
}

.info {
	width: px-to-rem(1000) !important;
	margin-top: px-to-rem(75);
	display: flex;
	flex-direction: column;

	&-title {
		margin-inline: auto;
	}

	&:last-of-type {
		margin-bottom: px-to-rem(75);
	}
}

.resources {
	&-list {
		width: 100%;
		margin-top: px-to-rem(75);
		list-style: none;
		display: grid;
		grid-template-columns: repeat(3, px-to-rem(300));
		justify-content: space-between;
		row-gap: px-to-rem(20);
	}
}

.resource {
	&-link {
		@extend %button;

		width: px-to-rem(300);
		background-color: $color-lighter-gray;
		box-shadow: 0 px-to-rem(4) px-to-rem(4) 0 rgb(0 0 0 / 25%);
		padding: px-to-rem(5) px-to-rem(15);
		color: $color-full-black !important;
		display: flex;
		align-items: center;
	}

	&-image {
		width: px-to-rem(40);
		aspect-ratio: 1 / 1;
	}

	&-text {
		margin-left: px-to-rem(15);
	}
}

$width-image: px-to-rem(315);
$gap-image: calc((px-to-rem(1000) - ($width-image * 3)) / 2);

.gallery {
	width: 100%;
	margin-top: px-to-rem(75);
	display: grid;
	grid-template-columns: repeat(3, $width-image);
	gap: $gap-image;

	&-image {
		width: 100% !important;
	}
}

/* 1920px */

@media only screen and (px-to-rem(1600) > width) {
	.details, .img-wrap {
		margin-top: rubber-size(1600, 50, 1366, 40);
	}

	.description {
		margin-top: rubber-size(1600, 25, 1366, 20);
	}
}

/* 1366px */

@media only screen and (px-to-rem(1280) > width) {
	.details, .info {
		width: rubber-size(1280, 1000, 1080, 900) !important;
	}

	.gallery {
		$width-image: rubber-size(1280, 315, 1080, 286);
		$gap-image: calc((rubber-size(1280, 1000, 1080, 900) - ($width-image * 3)) / 2);

		grid-template-columns: repeat(3, $width-image);
		gap: $gap-image;
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.details, .img-wrap {
		margin-top: rubber-size(1080, 40, 900, 35);
	}

	.details {
		align-items: center !important
	}

	.description {
		margin-top: rubber-size(1080, 20, 900, 17);
		margin-inline: rubber-size(1080, 0, 900, 55);
	}

	.info, .gallery {
		margin-top: rubber-size(1080, 75, 900, 60);
	}

	.info:last-of-type {
		margin-bottom: rubber-size(1080, 75, 900, 60);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.details {
		width: 100% !important;
		margin-top: rubber-size(900, 35, 768, 30);
	}

	.img-wrap {
		margin-top: rubber-size(900, 35, 768, 30);
	}

	.description {
		margin-top: rubber-size(900, 17, 768, 15);
	}

	.info, .gallery {
		margin-top: rubber-size(900, 60, 768, 50);
	}

	.gallery {
		$width-image: rubber-size(900, 286, 768, 253);
		$gap-image: calc((100vw - ($width-image * 3)) / 2);

		grid-template-columns: repeat(3, $width-image);
		gap: $gap-image;
	}

	.info {
		width: 100% !important;

		&:last-of-type {
			margin-bottom: rubber-size(900, 60, 768, 50);
		}
	}

	.button {
		margin-top: rubber-size(900, 25, 768, 20);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.details, .img-wrap {
		margin-top: rubber-size(768, 30, 576, 25);
	}

	.description {
		margin-top: rubber-size(768, 15, 576, 12);
		margin-inline: rubber-size(768, 55, 576, 30);
	}

	.info, .gallery {
		margin-top: rubber-size(768, 50, 576, 40);
	}

	.info:last-of-type {
		margin-bottom: rubber-size(768, 50, 576, 40);
	}

	.gallery {
		$width-image: px-to-rem(280);
		$width: px-to-rem(576);

		width: $width;
		grid-template-columns: repeat(2, $width-image);
		gap: calc($width - $width-image * 2);
	}
}

@media only screen and (px-to-rem(576) > width) {
	.gallery {
		$width-image: rubber-size(576, 280, 480, 237);
		$gap-image: calc(100vw - $width-image * 2);

		width: 100%;
		grid-template-columns: repeat(2, $width-image);
		gap: $gap-image;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.gallery, .info {
		margin-top: rubber-size(480, 40, 320, 30);
	}

	.info:last-of-type {
		margin-bottom: rubber-size(480, 40, 320, 30);
	}
	
	.gallery {
		width: rubber-size(480, 320, 320, 260);
		grid-template-columns: 100%;
		gap: rubber-size(480, 15, 320, 10);
	}
}
