@import '@sass/_main'

.project
	background: $color-transition-white radial-gradient(50% 50% at 50% 50%, rgba($color-gradient-main-begin, 0%) 0%, rgba($color-gradient-main-end, 16%) 100%)
	display: flex
	flex-direction: column
	align-items: center
	justify-content: unset

	&-name
		width: max-content !important
		margin: 0 auto
		padding: 0px 15px 0px 20px

.details
	width: 1000px
	margin-block: 50px
	display: flex
	flex-direction: column

.img
	object-fit: cover !important

	&-wrap
		width: 100%
		height: 500px
		margin-top: 50px

.description
	@extend %project-info

.button
	@extend %btn-big
	margin-top: 25px
	align-self: center

.separator
	margin: 50px auto 0

.info
	margin-top: 50px
	display: flex
	flex-direction: column
	align-items: flex-start

	&-title
		@extend %title-level-two

.resources
	&-list
		@extend %project-info
		list-style: none

.resource
	&-item
		margin-top: 10px

		&:first-child
			margin-top: 0px

	&-link
		color: $color-full-black !important

.stack
	@extend %project-info

$width-image: 315px
$gap-image: calc((1000px - ($width-image * 3)) / 2)

.gallery
	@extend %project-info
	width: 100%
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	gap: $gap-image

	&-image
		width: $width-image !important
