@use '@sass/main' as *;

.description {
	margin-top: px-to-rem(60);
	width: px-to-rem(765);
}

@media only screen and (px-to-rem(1600) > width) {
	.description {
		width: rubber-size(1600, 765, 1366, 710);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.description {
		margin-top: rubber-size(1080, 60, 900, 50);
		width: rubber-size(1080, 710, 900, 660);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.description {
		margin-top: rubber-size(900, 50, 768, 35);
		width: rubber-size(900, 660, 768, 575);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(576) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.description {
		;
	}
}
