@import '@sass/_main'

.description
	margin-bottom: 40px // * Отступ для абзацев цитаты
	font-family: $font-opensans
	font-weight: 400
	font-size: 15px
	line-height: 139%
	text-align: justify
	color: $color-full-black

	&:last-child
		margin-block: 0px
