@use '@sass/_main' as *

.heading
	font-family: $font-montserrat
	font-weight: 700
	font-size: 25px
	line-height: 128%
	letter-spacing: 0.21em
	text-transform: uppercase
	text-align: center
	color: $color-full-white !important
