@use '@sass/main' as *;

.description {
	margin-top: px-to-rem(25);
	font-weight: 300;
	font-size: px-to-rem(14) !important;
}

@media only screen and (px-to-rem(1600) > width) {
	.description {
		font-size: rubber-size(1600, 14, 1366, 13) !important;
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.description {
		margin-top: rubber-size(1080, 25, 900, 20);
		font-size: rubber-size(1080, 13, 900, 12) !important;
	}
}

@media only screen and (px-to-rem(900) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(768) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(576) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.description {
		;
	}
}
