@use '@sass/main' as *;

.description {
	margin-top: px-to-rem(25);
	font-weight: 300;
	font-size: px-to-rem(14) !important;
}

@media only screen and (px-to-rem(1600) > width) {
	.description {
		font-size: rubber-size(1600, 14, 1366, 13) !important;
	}
}

@media only screen and (px-to-rem(1366) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(900) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(768) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(576) > width) {
	.description {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.description {
		;
	}
}
