@use '@sass/main' as *;

.button {
	@extend %btn-big;

	margin-left: 3.125em;

	&:first-child {
		margin-left: 0;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.button {
		margin-left: 0;
		margin-top: px-to-rem(20);

		&:first-child {
			margin-top: 0;
		}
	}
}