@use '@sass/main' as *;

.heading {
	font-family: $font-montserrat;
	font-weight: 700;
	font-size: px-to-rem(30);
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: $color-full-black;
}

@media only screen and (px-to-rem(1600) > width) {
	.heading {
		font-size: rubber-size(1600, 30, 1366, 27);
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.heading {
		font-size: rubber-size(1280, 27, 1080, 25);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.heading {
		font-size: rubber-size(900, 25, 768, 20);
	}
}

@media only screen and (px-to-rem(576) > width) {
	.heading {
		font-size: px-to-rem(17);
	}
}

@media only screen and (px-to-rem(480) > width) {
	.heading {
		font-size: rubber-size(480, 17, 320, 14);
	}
}
