@use '@sass/main' as *;

.heading {
	margin-top: px-to-rem(30);
	font-family: $font-montserrat;
	font-weight: 700;
	font-size: px-to-rem(22);
	letter-spacing: 0.19em;
	text-transform: uppercase;
	color: $color-full-black;
}

@media only screen and (px-to-rem(1600) > width) {
	.heading {
		font-size: rubber-size(1600, 22, 1366, 20);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.heading {
		margin-top: rubber-size(1080, 30, 900, 25);
		font-size: rubber-size(1080, 20, 900, 18);
	}
}

@media only screen and (px-to-rem(900) > width) {
	;
}

@media only screen and (px-to-rem(768) > width) {
	;
}

@media only screen and (px-to-rem(576) > width) {
	;
}

@media only screen and (px-to-rem(480) > width) {
	;
}
