@use '@sass/main' as *;

.header {
	position: fixed;
	flex: $flex-rest;
	width: 100%;
	z-index: 9999;
	transition: height $transition-animation, background-color $transition-animation;

	&.fixed {
		background-color: $color-header-black;

		&.rest {
			transition: none;
		}
	}
}

@media only screen and (px-to-rem(900) > width >= px-to-rem(768)) {
	.header {
		background-color: $color-header-black;
	}
}