@import './../../assets/sass/_vars'

.logo
	width: max-content

	&-link
		text-decoration: none
		color: $color-light-logo-name-black
		font-weight: 350
		font-size: 22px
		text-transform: uppercase

		&__lastname
			font-weight: 500
			color: $color-light-logo-lastname-black