@import './../../assets/sass/_main'

.navbar
	position: fixed
	width: 100vw
	height: 180px
	z-index: 9999
	transition: height $transition-animation, background-color $transition-animation

	&.fixed
		background-color: $color-header-black
		height: 65px

.nav
	padding: 65px 270px
	width: 100%
	height: 100%
	list-style: none
	display: flex
	justify-content: space-between
	align-items: center
	transition: padding $transition-animation

	&.fixed
		padding: 0px 65px
