@use '@sass/main' as *;

.img {
	-o-object-fit: cover !important;
	object-fit: cover !important;
	transition: opacity $transition-animation;

	&-wrap {
		position: absolute;
		width: 100%;
		aspect-ratio: 1 / 1;
		background-color: $color-full-black;
		z-index: 1;
	}
}

.show {
	@extend %btn-small;

	position: relative;
	opacity: 0;
	z-index: 2;
	transition: opacity $transition-animation;
}

.name {
	padding: 0;
	border: unset;
	margin-bottom: px-to-rem(15);
	opacity: 0;
	font-size: px-to-rem(16);
	letter-spacing: 0.25em;
	text-align: center !important;
	color: $color-full-white;
	z-index: 2;
	transition: opacity $transition-animation;
}

.gallery {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	padding-inline: px-to-rem(25);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (hover: hover) {
	.gallery:hover {
		& .img {
			opacity: .5;
		}

		& .show, & .name {
			opacity: 1;
		}
	}
}

@media only screen and (hover: none) {
	.gallery {
		& .img, & .show, & .name {
			pointer-events: none;
		}

		&:focus-within {
			& .img {
				opacity: .5;
				pointer-events: all;
			}

			& .show, & .name {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.name {
		margin-bottom: rubber-size(1280, 15, 1080, 12);
		font-size: rubber-size(1280, 16, 1080, 14);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.gallery {
		;
	}
}

@media only screen and (px-to-rem(900) > width) {
	.gallery {
		;
	}
}

@media only screen and (px-to-rem(768) > width) {
	.gallery {
		;
	}
}

@media only screen and (px-to-rem(576) > width) {
	.gallery {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.gallery {
		;
	}
}
