@import '@sass/_main'

.img
	object-fit: cover !important
	transition: opacity $transition-animation

	&-wrap
		position: absolute
		width: 100%
		aspect-ratio: 1 / 1
		background-color: $color-full-black
		z-index: 1

.show
	@extend %btn-small
	position: relative
	opacity: 0
	z-index: 2
	transition: opacity $transition-animation

.name
	padding: 0px
	border: unset
	margin-bottom: 15px
	opacity: 0
	font-size: 16px
	text-align: center !important
	color: $color-full-white
	z-index: 2
	transition: opacity $transition-animation

.gallery
	position: relative
	width: 300px
	aspect-ratio: 1 / 1
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

	&:hover .img
		opacity: .5

	&:hover .show
		opacity: 1

	&:hover .name
		opacity: 1
