@use '@sass/_main' as *

.button
	@extend %button
	font-weight: 700
	font-size: 15px
	color: $color-full-white
	display: flex
	flex-direction: column
	align-items: center

.wrap
	width: 15px
	aspect-ratio: 1 / 1
	margin-bottom: 10px

.label
	font-family: $font-montserrat
