@use '@sass/main' as *;

.footer {
	flex: $flex-rest;
	width: 100%;
	height: px-to-rem(325);
	background-color: $color-light-black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (px-to-rem(1600) > width) {
	.footer { 
		height: rubber-size(1600, 325, 1366, 275);
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.footer {
		height: rubber-size(1280, 275, 1080, 250);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.footer {
		height: rubber-size(1080, 250, 900, 225);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.footer {
		height: rubber-size(768, 225, 576, 200);
	}
}
