@import '@sass/_main'

.footer
	flex: $flex-rest
	width: 100%
	height: 325px
	background-color: $color-light-black
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.copyright
	margin-top: 45px
	font-size: 18px !important
	letter-spacing: normal !important
	color: $color-full-white !important

	&-bold
		font-family: $font-nunito
		font-weight: 700

	&-normal
		font-family: $font-roboto
		font-weight: 400
