@import '@sass/_main'

.footer
	flex: $flex-rest
	width: 100%
	height: 325px
	background-color: $color-light-black
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.back
	@extend %button
	font-weight: 700
	font-size: 15px
	color: $color-full-white
	display: flex
	flex-direction: column
	align-items: center

.wrap
	width: 15px
	height: 15px
	margin-bottom: 10px

.social
	margin-top: 50px
	display: flex

	&-wrap
		width: 30px
		aspect-ratio: 1
		display: flex
		justify-content: center
		align-items: center

	&-button
		@extend %button
		margin-right: 30px

		&:last-child
			margin-right: 0px

.copyright
	margin-top: 45px
	font-size: 18px !important
	letter-spacing: normal !important
	color: $color-full-white !important

	&-bold
		font-family: $font-nunito
		font-weight: 700

	&-normal
		font-family: $font-roboto
		font-weight: 400
