@use '@sass/_main' as *

.image
	position: relative
	width: 100%
	height: 100%
	object-fit: contain
	display: block
	pointer-events: none
	z-index: 2

.wrap
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	-webkit-user-select: none
	user-select: none
