@import '@sass/_main'

.skills-block
	width: 1000px
	margin-top: 95px //TODO Перенести это свойство на другой компонент
	margin-left: -70px
	display: flex
	flex-direction: column

.block
	margin-top: 100px

	&:first-child
		margin-top: 0px

.title
	font-family: $font-montserrat
	font-weight: 700
	font-size: 30px
	text-transform: uppercase
	letter-spacing: 0.19em
	color: $color-full-black
