@use '@sass/main' as *;

.description {
	margin-bottom: px-to-rem(40);

	&:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.description {
		margin-bottom: rubber-size(1080, 40, 900, 30);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.description {
		margin-bottom: rubber-size(900, 30, 768, 20);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.description {
		margin-bottom: rubber-size(768, 20, 576, 15);
	}
}

@media only screen and (px-to-rem(576) > width) {
	.description {
		margin-bottom: rubber-size(576, 15, 480, 20);
	}
}

@media only screen and (px-to-rem(480) > width) {
	.description {
		margin-bottom: rubber-size(480, 20, 320, 15);
	}
}
