@use '@sass/main' as *;

.description {
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (px-to-rem(1600) > width) {
	.description {
		font-size: rubber-size(1600, 15, 1366, 14);
	}
}

@media only screen and (px-to-rem(1366) > width) {
	;
}

@media only screen and (px-to-rem(1280) > width) {
	;
}

@media only screen and (px-to-rem(1080) > width) {
	;
}

@media only screen and (px-to-rem(900) > width) {
	;
}

@media only screen and (px-to-rem(768) > width) {
	;
}

@media only screen and (px-to-rem(576) > width) {
	;
}

@media only screen and (px-to-rem(480) > width) {
	;
}
