@import './../../../assets/sass/_vars'

.menu
	&-item
		margin: 0px 20px

		&:first-child
			margin-left: 0px

		&__link
			text-decoration: none
			color: $color-light-navbar-link-black
			font-weight: 450
			font-size: 18px