@use '@sass/main' as *;

.block {
	margin-top: px-to-rem(100);

	&:first-child {
		margin-top: 0;
	}
}

@media only screen and (px-to-rem(1600) > width) {
	.block {
		margin-top: rubber-size(1600, 100, 1366, 80)
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.block {
		margin-top: rubber-size(1280, 80, 1080, 70);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.block {
		margin-top: rubber-size(768, 70, 576, 50);
	}
}

@media only screen and (px-to-rem(576) > width) {
	.block {
		margin-top: px-to-rem(40);
	}
}

@media only screen and (px-to-rem(480) > width) {
	.block {
		;
	}
}
