@use '@sass/main' as *;

.heading {
	font-family: $font-montserrat;
	font-weight: 700;
	font-size: px-to-rem(25);
	line-height: 128%;
	letter-spacing: 0.21em;
	text-transform: uppercase;
	text-align: center;
	color: $color-full-white !important;
}

@media only screen and (px-to-rem(1920) > width) {
	.heading {
		font-size: rubber-size(1920, 25, 1600, 22);
	}
}

@media only screen and (px-to-rem(1600) > width) {
	.heading {
		font-size: rubber-size(1600, 22, 1366, 20);
	}
}

@media only screen and (px-to-rem(1366) > width) {
	.heading {
		font-size: rubber-size(1366, 20, 1280, 18);
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.heading {
		font-size: rubber-size(1280, 18, 1080, 15);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.heading {
		font-size: rubber-size(1080, 22, 900, 20);
	}
}

@media only screen and (px-to-rem(900) > width) {
	.heading {
		font-size: rubber-size(900, 20, 768, 17);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.heading {
		font-size: rubber-size(768, 17, 576, 14);
	}
}

@media only screen and (px-to-rem(576) > width) {
	.heading {
		font-size: rubber-size(576, 22, 480, 20);
	}
}

@media only screen and (px-to-rem(480) > width) {
	.heading {
		;
	}
}
