@use '@sass/main' as *;

.label {
	@extend %welcome;

	font-weight: 800;
	font-size: px-to-rem(25);
	color: $color-gray;
}

@media only screen and (px-to-rem(1600) > width >= px-to-rem(1366)) {
	.label {
		font-size: rubber-size(1600, 25, 1366, 20);
	}
}

@media only screen and (px-to-rem(1366) > width >= px-to-rem(1280)) {
	.label {
		font-size: rubber-size(1366, 20, 1280, 18);
	}
}

@media only screen and (px-to-rem(1280) > width >= px-to-rem(1080)) {
	.label {
		font-size: rubber-size(1280, 18, 1080, 15);
	}
}