@import '@sass/_main'

@include imp-font($font-raleway, ('Bold': 700, 'ExtraBold': 800))
@include imp-font($font-montserrat, ('Regular': 400))

%welcome
	font-family: $font-raleway
	font-weight: 700
	color: $color-full-black

.hello
	@extend %welcome
	margin-bottom: 54px // * Отступ для надписи с приветствием
	font-size: 40px

.name
	@extend %welcome
	margin-bottom: 2px // * Отступ для надписи с именем
	font-size: 60px

.who
	@extend %welcome
	margin-bottom: 137px // * Отступ для надписи с профессиями
	font-weight: 800
	font-size: 25px
	color: $color-gray

.usually
	font-family: $font-montserrat
	font-weight: 400
	font-size: 24px
	letter-spacing: 0.14em
	text-align: center
	color: $color-full-black
