@use '@sass/main' as *;

.skills {
	margin-top: px-to-rem(95);
	display: grid;
	grid-template-columns: px-to-rem(100) px-to-rem(150) px-to-rem(150) px-to-rem(100);
	gap: px-to-rem(65) px-to-rem(120);
}

@media only screen and (px-to-rem(1600) > width) {
	.skills {
		--edge: #{rubber-size(1600, 100, 1366, 95)};
		--center: #{rubber-size(1600, 150, 1366, 140)};
		--row: #{rubber-size(1600, 65, 1366, 50)};
		--column: #{rubber-size(1600, 120, 1366, 100)};

		margin-top: rubber-size(1600, 95, 1366, 80);
		grid-template-columns: var(--edge) var(--center) var(--center) var(--edge);
		gap: var(--row) var(--column);
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.skills {
		--edge: #{rubber-size(1280, 95, 1080, 85)};
		--center: #{rubber-size(1280, 140, 1080, 125)};
		--row: #{rubber-size(1280, 50, 1080, 45)};
		--column: #{rubber-size(1280, 100, 1080, 90)};

		margin-top: rubber-size(1280, 80, 1080, 70);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.skills {
		--edge: #{px-to-rem(92)};
		--center: #{px-to-rem(140)};
		--row: #{px-to-rem(50)};
		--column: #{px-to-rem(100)};

		grid-template-columns: var(--edge) var(--center) var(--edge)
	}
}

@media only screen and (px-to-rem(900) > width) {
	.skills {
		--edge: #{rubber-size(900, 92, 768, 90)};
		--center: #{rubber-size(900, 140, 768, 135)};
		--row: #{rubber-size(900, 50, 768, 45)};
		--column: #{rubber-size(900, 100, 768, 90)};

		margin-top: rubber-size(900, 70, 768, 60);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.skills {
		--edge: #{rubber-size(768, 90, 576, 65)};
		--center: #{rubber-size(768, 135, 576, 105)};
		--row: #{rubber-size(768, 45, 576, 30)};
		--column: #{rubber-size(768, 90, 576, 75)};

		margin-top: rubber-size(768, 60, 576, 40);
	}
}

@media only screen and (px-to-rem(576) > width) {
	.skills {
		--edge: #{px-to-rem(80)};
		--row: #{px-to-rem(30)};
		--column: #{px-to-rem(100)};

		margin-top: px-to-rem(30);
		grid-template-columns: var(--edge) var(--edge);
	}
}

@media only screen and (px-to-rem(480) > width) {
	.skills {
		;
	}
}
