@use '@sass/main' as *;

.button {
	@extend %button;

	margin-right: px-to-rem(30);
	width: px-to-rem(30);
	aspect-ratio: 1 / 1;

	&:last-child {
		margin-right: 0;
	}
}

@media only screen and (px-to-rem(1600) > width) {
	.button {
		margin-right: rubber-size(1600, 30, 1366, 27);
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.button {
		margin-right: rubber-size(1280, 27, 1080, 25);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.button {
		width: rubber-size(1080, 25, 900, 30);
		margin-right: rubber-size(1080, 25, 900, 20);
	}
}

@media only screen and (px-to-rem(768) > width) {
	.button {
		width: rubber-size(768, 30, 576, 25);
	}
}