@import '@sass/_main'

.label
	font-family: $font-montserrat
	font-weight: 400
	margin-top: 45px
	font-size: 18px
	letter-spacing: normal
	color: $color-full-white

.copyright
	font-family: $font-nunito
	font-weight: 700
