@use '@sass/main' as *;

.menu {
	&-item {
		height: 100%;
		margin-inline: px-to-rem(50);
		display: grid;
		place-content: center;

		&:nth-child(2) {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&-link {
		font-family: $font-montserrat;
		font-weight: 700;
		font-size: px-to-rem(17);
		text-align: center;
		color: $color-full-white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media only screen and (px-to-rem(1920) > width >= px-to-rem(1600)) {
	.menu {
		&-item {
			margin-inline: rubber-size(1920, 50, 1600, 45);
		}

		&-link {
			font-size: rubber-size(1920, 17, 1600, 16);
		}
	}
}