@import '@sass/_main'

.menu
	&-item
		height: 100%
		margin-inline: 50px
		display: grid
		place-content: center

		&:nth-child(2)
			margin-left: 0px

		&:last-child
			margin-right: 0px

	&-link
		font-family: "Montserrat"
		font-weight: 700
		font-size: 17px
		text-align: center
		color: #ffffff
		text-decoration: none

		&:hover
			text-decoration: underline
