@use '@sass/main' as *;

.link {
	font-family: $font-montserrat;
	font-weight: 600;
	font-size: px-to-rem(20);
	text-align: center;
	color: $color-full-white;
	text-decoration: none;
}

@media only screen and (hover: hover) {
	.link:hover {
		text-decoration: underline;
	}
}

@media only screen and (px-to-rem(1600) > width) {
	.link {
		font-size: rubber-size(1600, 20, 1366, 17);
	}
}

@media only screen and (px-to-rem(1280) > width) {
	.link {
		font-size: rubber-size(1280, 17, 1080, 15);
	}
}

@media only screen and (px-to-rem(1080) > width) {
	.link {
		;
	}
}

@media only screen and (px-to-rem(900) > width) {
	.link {
		;
	}
}

@media only screen and (px-to-rem(768) > width) {
	.link {
		;
	}
}

@media only screen and (px-to-rem(576) > width) {
	.link {
		;
	}
}

@media only screen and (px-to-rem(480) > width) {
	.link {
		;
	}
}
