@import '@sass/_vars'

%title-level-two
	width: unset !important
	height: unset !important
	border: unset !important
	letter-spacing: 0.19em !important
	line-height: unset !important
	text-align: unset !important
	display: block !important
