@import '@sass/_vars';

@mixin font($name, $style, $weight, $path) {
	@font-face {
		font-family: $name;
		font-style: $style;
		font-weight: $weight;
		src: url($path) format('woff2');
		font-display: swap;
	}
}

@mixin imp-font($name, $original-path, $list-weight, $there-italic: false, $name-italic: 'Italic', $type-italic: italic) {
	@each $weight-name, $weight-value in $list-weight {
		@if $there-italic {
			@include font($name, $type-italic, $weight-value, '#{$original-path}#{$weight-name}#{$name-italic}.woff2');
		}

		@else {
			@include font($name, normal, $weight-value, '#{$original-path}#{$weight-name}.woff2');
		}
	}
}

@mixin font-full($font, $style, $weight, $path, $svg-weight-name) {
	@font-face {
		font-family: $font;
		font-style: $style;
		font-weight: $weight;
		font-display: swap;
		src: url('#{$path}.eot');
		src: url('#{$path}.eot#iefix') format('embedded-opentype'),
		url('#{$path}.woff2') format('woff2'),
		url('#{$path}.woff') format('woff'),
		url('#{$path}.ttf') format('truetype'),
		url('#{$path}.svg##{$svg-weight-name}') format('svg');
	}
}

@mixin imp-font-full($name, $original-path, $svg-font-name, $list-weight, $there-italic: false, $name-italic: 'Italic', $svg-italic-name: '-italic', $type-italic: italic) {
	@each $weight-name, $weight-value, $svg-weight-name in $list-weight {
		@include font-full($name, normal, $weight-value, '#{$original-path}#{$weight-name}', '#{$svg-font-name}#{$svg-weight-name}');

		@if $there-italic {
			@include font-full($name, $type-italic, $weight-value, '#{$original-path}#{$weight-name}#{$name-italic}', '#{$svg-font-name}#{$svg-weight-name}#{$svg-italic-name}');
		}
	}
}