@import './_vars'

@mixin font($name, $weight, $path)
	@font-face 
		font-family: $name
		font-style: normal
		font-weight: $weight
		src: url($path) format('woff2')
		font-display: swap

@include font($font-montserrat, lighter, './../fonts/Montserrat-VariableFont_wght.woff2')