$screen-width-px: 1920;

@media only screen and (width >= 3840px) {
	$screen-width-px: 3840;
}

@media only screen and (3840px > width >= 2560px) {
	$screen-width-px: 2560;
}

@media only screen and (2560px > width >= 1920px) {
	$screen-width-px: 1920;
}

@media only screen and (1920px > width >= 1600px) {
	$screen-width-px: 1600;
}

@media only screen and (1600px > width >= 1366px) {
	$screen-width-px: 1366;
}

@media only screen and (1366px > width >= 1280px) {
	$screen-width-px: 1280;
}

@media only screen and (1280px > width >= 1080px) {
	$screen-width-px: 1080;
}

@media only screen and (1080px > width >= 768px) {
	$screen-width-px: 768;
}

@media only screen and (768px > width >= 576px) {
	$screen-width-px: 576;
}

@media only screen and (576px > width >= 480px) {
	$screen-width-px: 480;
}

@media only screen and (480px > width >= 320px) {
	$screen-width-px: 320;
}

@function header-height() {
	@if $screen-width-px == 1920 {
		@return 180px;
	}
}

@function header-height-fixed() {
	@if $screen-width-px == 1920 {
		@return 65px;
	}
}