$color-light-gray: #d7d7d7
$color-lighter-gray: #c4c4c4
$color-gray: #909090
$color-full-black: #000

$flex-main: 1 0 auto
$flex-rest: 0 0 auto

$font-adventpro: 'AdventPro'
$font-montserrat: 'Montserrat'
$font-nunito: 'Nunito'
$font-opensans: 'OpenSans'
$font-raleway: 'Raleway'
$font-roboto: 'Roboto'
$font-varela: 'Varela'

$path-font-adventpro: 'fonts/AdventPro-'
$path-font-montserrat: 'fonts/Montserrat-'
$path-font-nunito: 'fonts/Nunito-'
$path-font-opensans: 'fonts/OpenSans-'
$path-font-raleway: 'fonts/Raleway-'
$path-font-roboto: 'fonts/Roboto-'
$path-font-varela: 'fonts/Varela-'
