@import '@sass/_fonts'

*
	padding: 0
	margin: 0
	box-sizing: border-box

:root
	color-scheme: auto
	font-family: 'Montserrat'

.html
	height: 100%
	scroll-padding-top: 65px
	scroll-behavior: smooth

.body
	height: 100%
	background-color: $color-light-gray

.root
	height: 100%

.app
	position: relative
	height: 100%
	display: flex
	flex-direction: column

	&.app-loading::after
		content: ''
		position: fixed
		width: 100%
		height: 100%
		background-color: red
		z-index: 10000

.container
	width: 100%
	height: 100%
	padding: 0px 50px
	display: flex
	justify-content: space-between
