@use '@sass/functions' as *;
@use '@sass/vars' as *;
@use '@sass/fonts' as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: auto;
	font-family: $font-montserrat, sans-serif;
}

.html {
	min-height: 100dvh;
	scroll-padding-top: px-to-rem(65);
	scroll-behavior: smooth;
}

@media only screen and (px-to-rem(1080) > width) {
	.html {
		scroll-padding-top: px-to-rem(57);
	}
}

.body {
	min-height: 100dvh;
	background-color: $color-light-gray;

	&.no-scroll {
		overflow: hidden;
	}
}

.root {
	min-height: 100dvh;
}

.app {
	position: relative;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;

	// ? Рассматривается об удалении
	&.app-loading::after {
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: red;
		z-index: 10000;
	}
}

// .container {
// 	width: 100%;widthwidth
// 	height: 100%;heightheight
// 	padding: 0 50px;paddingpadding
// 	display: flex;displaydisplay
// 	justify-content: space-between;justify-contentjustify-content
// }