@import '@sass/_main'

@include imp-font($font-montserrat, ('Bold': 700))

*
	padding: 0
	margin: 0
	box-sizing: border-box

:root
	color-scheme: auto
	font-family: 'Montserrat'

.body
	background-color: $color-light-gray

.app
	display: flex
	flex-direction: column

.container
	width: 100%
	height: 100%
	padding: 0px 50px
	display: flex
	justify-content: space-between
